<!DOCTYPE html>
<html>

<head>
    <title>CSC227 Final Project - Christopher Duke</title>
</head>

<body>
    <h2>Welcome to Luke's Specialty Shirt Shop!</h2>
    <p>We'll sell you one shirt of your choice.
    <p>What type of cut do you want your shirt to be?</p>

    <form action="#" method="post">
        <label for="short-sleeve">Short-sleeve</label>
        <input type="radio" name="cut" id="short-sleeve" value="short-sleeve">
        <br>
        <label for="long-sleeve">Long-sleeve</label>
        <input type="radio" name="cut" id="long-sleeve" value="long-sleeve">
        <br>

        <p>What type of fabric do you want your shirt made of?</p>

        <label for="oxford-fabric">Oxford fabric</label>
        <input type="radio" name="fabric" id="oxford-fabric" value="oxford-fabric">
        <br>
        <label for="poplin">Poplin</label>
        <input type="radio" name="fabric" id="poplin" value="poplin">
        <br>
        <label for="flannel">Flannel</label>
        <input type="radio" name="fabric" id="flannel" value="flannel">
        <br>
        <label for="fine-cotton">Fine cotton</label>
        <input type="radio" name="fabric" id="fine-cotton" value="fine-cotton">
        <br>

        <p>What color do you want your shirt to be?</p>

        <label for="red">Red</label>
        <input type="radio" name="color" id="red" value="red">
        <br>
        <label for="orange">Orange</label>
        <input type="radio" name="color" id="orange" value="orange">
        <br>
        <label for="yellow">Yellow</label>
        <input type="radio" name="color" id="yellow" value="yellow">
        <br>
        <label for="green">Green</label>
        <input type="radio" name="color" id="green" value="green">
        <br>
        <label for="blue">Blue</label>
        <input type="radio" name="color" id="blue" value="blue">
        <br>
        <label for="purple">Purple</label>
        <input type="radio" name="color" id="purple" value="purple">
        <br>
        <label for="black">Black</label>
        <input type="radio" name="color" id="black" value="black">
        <br>
        <label for="white">White</label>
        <input type="radio" name="color" id="white" value="white">
        <br>

        <p>What size do you want your shirt to be?</p>
        
        <label for="small">Small</label>
        <input type="radio" name="size" id="small" value="small">
        <br>
        <label for="medium">Medium</label>
        <input type="radio" name="size" id="medium" value="medium">
        <br>
        <label for="large">Large</label>
        <input type="radio" name="size" id="large" value="large">
        <br>
        <label for="xl">XL</label>
        <input type="radio" name="size" id="xl" value="xl">
        <br>
        <label for="2xl">2XL</label>
        <input type="radio" name="size" id="2xl" value="2xl">
        <br>
        
        <input type="submit" value="Submit">
    </form>

</body>

</html>